@font-face {
  font-family: 'B Nazanin';
  src: url('fonts/B-Nazanin.woff2') format('woff2'),
        url('fonts/B-Nazanin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  }
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    direction: rtl;
}
:root {
  --bg-color: #fff;
  --text-color: #15202B;
  --box-color: #cadce77f;
  --box-shadow:4px 2px 15px 0px rgba(87,177,228,0.57);
}
.dark-theme {
  --bg-color: #15202B;
  --text-color: #fff;
  --box-color:#00263d;
}

/* main */
main{
    margin: 0 50px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin: 50px 0;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    background-color: var(--box-color);

}
.container-rtl{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin: 50px 0;
    box-sizing: border-box;
    direction: ltr;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    background-color: var(--box-color);

}
.my-image {
    border-radius: 0 10px 10px 0;
    width: 100%;
    object-fit: cover;
}
.main-text,.main-text-rtl{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    direction: rtl;
}
.main-text,.main-text-rtl h2{
    font-size: 25px;
    font-weight: 700;
}
.main-text,.main-text-rtl p{
    font-size: 20px;
    font-weight: 500;
}

  .box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.box.visible {
  opacity: 1;
  transform: translateY(0);
}



/* ------- MEDIA QUERIES POUR TABLETTE --------------------- */

@media  (max-width: 1024px){

/*------------ main */
main{
    margin: 0 30px;
}
.container,.container-rtl{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-image {
    max-width: 300px;
    border-radius: 50%;
    margin-top: 20px;
}
}

    /*----------------------- mobil */

@media  (max-width: 640px) {
/* ----------------main */
.container,.container-rtl{
    margin: 20px 0;
}
.my-image{
    width: 50%;
}
.main-text,.main-text-rtl{
align-items: center;
padding: 10px;
}
.main-text,.main-text-rtl h2{
    font-size: 18px;

}
.main-text,.main-text-rtl p{
    font-size: 12px;
}
}