html {
  scroll-behavior: smooth;
  }
  
  @font-face {
  font-family: 'B Nazanin';
  src: url('fonts/B-Nazanin.woff2') format('woff2'),
        url('fonts/B-Nazanin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 0;
    direction: rtl;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.material-symbols-outlined{
    font-size: 70px;
    color: var(--text-color);
    margin: 0 20px;
}

:root {
  --bg-color: #fff;
  /* --text-color: #191919; */
  --text-color: #15202B;
  /* --text-color: #121212; */

  /* box-colors */
  --box-color: #cadce7;
}

.dark-theme {
  /* --bg-color: #191919; */
  --bg-color: #15202B;
  /* --bg-color: #121212; */
  --text-color: #fff;


  /* box-colors */
  --box-color:#00263d;

}

body::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../images/logo.svg);
    background-size: 11%;
    background-position: center;
    opacity: 0.03;
    z-index: -1; 
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

}

.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-top: #57b1e4 5px solid;
    padding: 20px;
    margin: 20px;
    width: 50%;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}

h1{
    margin-bottom: 100px;
    color: #57b1e4;
    font-weight: 900;
    font-size: 50px;
}
h2{
    font-size: 30px;
    color: var(--text-color);
}

p{
    font-size: 20px;
    margin-top: -20px;
    color: var(--text-color);
}
.mail{
    color: var(--text-color);

}
.mail:hover{
    cursor: pointer;
    color: #57b1e4;
}

.img-us-moon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;

}

.img-fa{
    max-width: 70px;
    margin: 5px;
}
.img-moon{
    max-width: 80px;
    margin: 5px;
}




/* --------------tablette */

@media screen and  (max-width: 1007px){
body {
  margin: 0;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-top: #57b1e4 5px solid;
    padding: 20px;
    margin: 20px;
    width: 50%;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}

h1{
    margin-bottom: 50px;
    color: #57b1e4;
    font-weight: 900;
    font-size: 40px;
}

p{
    margin-top: -20px;
    color: var(--text-color);
}
.img-fa{
    max-width: 60px;
    margin: 5px;
}
.img-moon{
    max-width: 70px;
    margin: 5px;
}

}
/* --------------Mobile */

@media screen and  (max-width: 640px){
body {
  margin: 0;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-top: #57b1e4 5px solid;
    padding: 20px;
    margin: 20px;
    width: 50%;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}

h1{
    margin-bottom: 50px;
    color: #57b1e4;
    font-weight: 900;
    font-size: 30px;
}
h2{
    font-size: 18px;
    color: var(--text-color);
}
p{
    margin-top: -10px;
    font-size: 12px;
    color: var(--text-color);
}
.img-fa{
    max-width: 50px;
    margin: 5px;
}
.img-moon{
    max-width: 60px;
    margin: 5px;
}

}